@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222f3e;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-right: 20px;
}

.inner_Dashbord {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    gap: 20px;
}

.menu_bar {
    background-color: #576574;
    height: 100vh;
}

.middle h2 {
    color: #00b894;
    padding: 20px 0;
}

.filter_menu {
    background-color: #00b894;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu_bar .logo {
    padding: 20px 20px;
    color: #00b894;
    display: flex;
    justify-content: space-around;
}

.menu_icon i {
    cursor: pointer;
    font-size: 20px;
}

nav {
    padding: 15px 0px 0px 10px;
}

nav ul li {
    list-style: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

nav ul li i {
    font-size: 20px;
    padding: 7px;
    color: #f2f7f6;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 300;
}

nav ul li:hover {
    background-color: #00b894;
    border-radius: 5px;
}

.view_area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 20px;
}

.active_order,
.Complete_order,
.total_earning {
    background-color: #576574;
    padding: 20px;
    border-radius: 8px;
    border-left: 2px solid #00b894;
    font-weight: 400;
    transition: all 0.5s;
    color: white;
}

.total_earning:hover {
    background-color: #00b894;
}

.active_order:hover {
    background-color: #00b894;
}

.Complete_order:hover {
    background-color: #00b894;
}

.order_summary span {
    color: rgb(228, 222, 222);
}


/* Sidebar */

.sidebar {
    padding-top: 50px;
}

.RECENT_TRANSCATIONS {
    background-color: #576574;
    padding: 20px 5px 20px 20px;
    border-radius: 10px;
    color: aliceblue;
}

.RECENT_TRANSCATIONS h4 {
    margin-bottom: 15px;
}

.clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    cursor: pointer;
    transition: all 0.5s;
}

.clients:hover {
    background-color: #00b894;
    border-radius: 5px;
}

.clients_img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* Table */

.Customers {
    margin-top: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #576574;
    border-radius: 10px;
}

td {
    border-top: 1px solid #928f8f;
    text-align: left;
    padding: 8px;
}

tr>th {
    background-color: #00b894;
    padding: 8px;
    color: white;
}

tr {
    transition: all 0.4s;
    color: #00b894;
}

tr td {
    text-align: center;
}

tr:hover {
    background-color: #00b894;
    cursor: pointer;
    color: white;
    transform: scale(1.05);
    border-radius: 10px;
}

.orde_list_More {
    display: flex;
    justify-content: end;
}

.orde_list_More a {
    color: #00b894;
}